{%extends 'base.html.twig'%}

{% block title%}
    Consulter le solde 
{% endblock%}

{% block body%}

    <div class="container p-3 my-3 border">

        <h1> Votre solde est de : {{unUser.solde}} €  Mr. ou Mme {{unUser.nom}} , {{unUser.prenom}}
    
    </div>

{% endblock%}


    

